<!DOCTYPE html>
<html>
  <head>
    <title>Scheduleapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <header>
        <h1>Ruby on Rails &nbsp;&nbsp;Schedule Management App<h1>
      </header>
        <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
        <% elsif flash[:failed] %>
          <p class="failed"><%= flash[:failed] %></p>
        <% end %>
        <%= yield %>
    </div>
  </body>
</html>
